{% extends "layout.html" %}

{% block body %}

<h3>About me</h3>
<hr>
<span style="color: navy;"><h3>Hakki Aydin Ucar</h3></span>
<hr>
<h4>CyberSecurity Consultant / HP-Unix & Linux System Administrator</h4>
Hi, my name is Hakki Aydin Ucar, a HP-Unix certified Senior System Administrator and CyberSecurity Consultant.
<br>
<br>I joined ITRC Forum ; Hewlett Packard Enterprise Support Community as a volunteer ,you can see my profile here: <a href="http://h30499.www3.hp.com/t5/user/viewprofilepage/user-id/349737"> ITRC Forum</a>
</a><br>I have an HP-UX certification as HP-UX 11iv3 Certified System Administrator. 
<br>I became R&D Project Manager ,related with IOT projects, and mobile SW Development.
<br>I got a certification of International Project Manager upon completion of International Project Management Course by Rochester Institute of Technology University
<br>I am involved some cybersecurity products by partner company and very involved to develop my skill upon Cybersecurity Consultancy. With this in mind I completed lots of course releated with Cybersecurity :
<br>My areas of expertise are:
<br>Senior HP-Unix & RedHat, Kali, Oracle Solaris, Debian LINUX System Admin,
<br>Cybersecurity Advanced Ethical Hacking,
<br>Cybersecurity Fundamental Solutions, 
<br>Cybersecurity Forensic,
<br>Cybersecurity Risk Management,
<br>Cybersecurity Networks Solutions,
<br>International Project Manager.

<hr>

{% endblock body %}